[submodule "Inventori/Resources/Angular/Inventori/app/dependencies"]
	path = Inventori/Resources/Angular/Inventori/app/dependencies
	url = git@bitbucket.org:rezariantono/solumax2_spa_dependencies.git
