<div class="row">
    <div class="col-sm-12">

        <button class="btn btn-primary btn-block" ui-sref="inventoriShow">Tambah Data</button><br>

        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-block btn-default" ng-click="ctrl.filter={maintenance_pending:true};ctrl.get()">Maintenance Pending</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-default btn-block">Check Inventori Pending</button>
            </div>
        </div>

        <br>

        <div class="input-group">
            <input type="text" ng-model='ctrl.filter.nama'  class="form-control" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="ctrl.get()" style="height: 34px;">
                    Search
                </button>
            </div>

        </div>

        <div class="table-responsive">
            <table class="table table-responsive table-hover" id="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Keterangan</th>
                        <th>Kondisi</th>
                        <th>Rencana Tanggal Peremajaan</th>
                        <th>Photo</th>
                        <th>Jumlah</th>
                        <th>Id Lokasi</th>
                        <th>Tanggal Pembelian</th>
                        <th>Estimasi NiLai Rupiah</th>
                        <th>Check Kondisi</th>
                        <th>Maintenance</th>
                        <th>PIC</th>
                        <th>Buka</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="inventori in ctrl.inventories | filter:ctrl.filter.nama">
                        <td>{{inventori.id}}</td>
                        <td>{{inventori.nama}}</td>
                        <td>{{inventori.keterangan}}</td>
                        <td>{{inventori.object_kondisi.name}}</td>
                        <td>{{inventori.rencana_tanggal_peremajaan}}</td>
                        <td><img ng-src="{{inventori.photos[0].full_url}}" class="img-responsive" style="height: 70px; width: 100px;"></td>
                        <td>{{inventori.jumlah}}</td>
                        <td>{{inventori.id_lokasi}}</td>
                        <td>{{inventori.tanggal_pembelian}}</td>
                        <td>{{inventori.estimasi_biaya}}</td>
                        <td>{{inventori.jadwal_check_inventori}}</td>
                        <td>{{inventori.jadwal_maintenance_inventori}}</td>
                        <td>{{inventori.name_pic}}</td>
                        <td><a class="btn btn-primary"
                               ui-sref="inventoriShow({id: inventori.id})">Buka</a></td>
                    </tr>
                </tbody>
            </table>
            <nav ng-if="ctrl.meta.pagination && ctrl.meta.pagination.total > 20" align="center">
                <ul class="pagination">
                    <li ng-if="ctrl.meta.pagination.current_page > 1">
                        <a ng-click="ctrl.get(ctrl.meta.pagination.current_page - 1)" aria-label="Previous">					<span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="disabled" >
                        <span>Halaman ke {{ctrl.meta.pagination.current_page}} dari
                            {{ctrl.meta.pagination.total_pages}} ({{ctrl.meta.pagination.total}} total data;
                            {{ctrl.meta.pagination.per_page}} data per halaman)</span>
                    </li>
                    <li ng-if="ctrl.meta.pagination.current_page < ctrl.meta.pagination.total_pages">
                        <a ng-click="ctrl.get(ctrl.meta.pagination.current_page + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav> 							
        </div>
    </div>
</div>